img {
  width: 80%;
  height: 80%;
  align-self: center;
}
section {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid gray;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}
.price {
  background-color: rgb(29, 167, 246);
  color: white;
  padding: 0.5rem 1rem;
  align-self: flex-start;
  border: 1px solid transparent;
}

button {
  align-self: flex-end;
  background-color: rgb(29, 167, 246);
  color: white;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
}
